<a href="https://colab.research.google.com/github/lohitkumar2612/Machine_Translation/blob/main/Hinglish_to_English.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
# Importing required libraries
import re
import numpy as np
import pandas as pd
import html

In [50]:
#creating data_frame
df_corpus=pd.read_csv("/content/English-Hindi code-mixed parallel corpus.csv")

In [51]:
#first_five rows in the dataset
df_corpus.head()

                                            Sentence                                English_Translation
0  @someUSER congratulations on you celebrating b...  @some users congratulate you for celebrating B...
1  @LoKarDi_RT uske liye toh bahot kuch karna pad...  @Lokardi_ rat we should a lot more for that, b...
2  @slimswamy yehi to hum semjhane ki koshish kar...  @Slimswami ehi, this is what i'm expecting you...
3                    @DramebaazKudi cake kaha hai ??         @Where is Dramebajakudi where is the cake?
4  @someUSER i'm in hawaii at the moment .  home ...  @some user Don't want to come home next friday...

In [52]:
#For Data Cleaning 
hin_sen = df_corpus['Sentence']

eng_tran = df_corpus['English_Translation']

In [53]:
#Removing Unwanted Data
for i in range (len(hin_sen)):
  hin_sen[i] = re.sub(r"(@[A-Za-z0–9_]+)|[^\w\s]", "", hin_sen[i])

for i in range (len(eng_tran)):
  eng_tran[i] = re.sub(r"(@[A-Za-z0–9_]+)|[^\w\s]", "", eng_tran[i])

In [54]:
#After Data_Cleaning
df_corpus['Sentence'] = hin_sen
df_corpus['English_Translation'] = eng_tran
df_corpus

                                                Sentence                                English_Translation
0       congratulations on you celebrating british ki...   users congratulate you for celebrating Britis...
1       uske liye toh bahot kuch karna padega ye papp...   rat we should a lot more for that by this evi...
2       yehi to hum semjhane ki koshish kar rahe hain...   ehi this is what im expecting you to understa...
3                                         cake kaha hai                  is Dramebajakudi where is the cake
4       im in hawaii at the moment   home next friday...   user Dont want to come home next friday becau...
...                                                  ...                                                ...
13733  Dr Kumar Vishwas Koi deewana kehta hai koi pag...  Dr Kumar Vishwas Some used to say lover Some u...
13734  Me Aaj kuch toofani karte hai\n\nMom Pani ki b...  Me Lets do some stormy today\n\nMom Fill the w...
13735  Pyar mangi to Jaan dengimilk mango to kher den...  Ask for love well give life ask for milk well ...
13736                    kaale kaale baal gaal gore gore                        black hair cheeks fair fair
13737                            Ye sab auntyon ke saath                              All this with aunties

[13738 rows x 2 columns]